exp/
initmodel/
.idea/
*.zip

*.png
*.jpg
*.jpeg
*.bmp
*.pgm
*.ppm
*.tiff

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyc~

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

*.pth